/* === Global === */

body{
	font-family:'Merriweather', serif;
	font-weight: 300;
	font-size: 16px;
	max-width: 1440px;
	max-height: 1680px;
}

/*=== Header ===*/
	
.container-fluid{
	max-width: 1040px;
}

.nav .navbar-nav .navbar-right, .navbar-form .pull-right{
	float: right;
}
.navbar-brand{
	margin-right: 50px;
}
.before_logo{
	font-size: 12px;
	color: #c4b07a;
	margin-left: -40px;
}
ul.nav.navbar-nav.navbar-left{
	margin-left: -50px;
	
}
ul.nav.navbar-nav.navbar-left a{
	color: #3b401e;
	font-family:'Merriweather', serif;
	font-weight: bold;
}
.cart_number{
	color: #e8930c;
}
ul.nav.navbar-nav.navbar-right{
	margin-top: -35px;
	margin-right: 2px;
	font-size: 12px;
	font-weight: bold;
	
}
ul.nav.navbar-nav.navbar-right a{
	color: #414141;
}
form.navbar-form.pull-right{
	margin-top: -10px;
}
input.span2{
	background-color: #f3efe4;
	width: 300px;
	height: 35px;
	border-radius: 3px;
	border:none;
	color: #757f3c;
	font-style: italic;
	font-weight: bold;
	padding-left: 10px;
	background: url("../img/track_header.ico")95% 50% no-repeat;
	background-color: #eeeeee;
}



/*=== hero unit ===*/

.jumbotron{
	max-width: 940px;
	min-width: 360px;
	max-height: 412px;
	margin: 20px auto;
	background:none;
	color: white;
	background: url("../img/layer.png") 50% 50%;
	padding: 100px 150px 30px 40px;
}

a.btn.btn-primary.btn-large{
	width: 150px;
	height: 40px;
	background-color: #e8930c;
	border:none;
	padding-top: 10px;

}
.sidebar{
	margin-top: 30px;
	font-size: 12px;
}

.blog-post{
	margin-top: 30px;
	font-size: 12px;
}
.blog-post h3{
	margin-top: -20px;
}
.blog-post .row:nth-of-type(2){
	font-style: italic;
}
.blog-post h4{
	color: #d98d1b;
}
.blog-post p{
	color: #5b5b5b;
}
.blog-post a{
	color: #d98d1b;
}
footer{
	width: 100%;
	max-width: 1440px;
	min-height: 335px;
	margin: 40px auto 0px;
	background-color: #757f3c; 
	font-size: 12px;
}
.row footer{
	max-width: 1024px;
}
footer li{
	list-style: none;

}
ul.footer-links, .col-sm-offset-1{
	padding-left: 0px;
}

footer a{
	color: white;
}
footer h5{
	padding-bottom: 5px;
	border-bottom:1px solid gray;
	color: #3b401e;
	font-size: 14px;
	font-weight: bold;
}


@media (max-width: 767px){
	.first_text{
	margin-top: 50px;
	margin-left: 25px;
	}
	ul.nav.navbar-nav.navbar-right{
		border-top: 1px solid #3b401e;
		margin-top: 10px;
	}
	ul.nav.navbar-nav.navbar-left a{
	color: #3b401e;
	font-family:'Merriweather', serif;
	font-weight: bold;
	margin-left: 35px;
	}

	.jumbotron{
		transform: scale(0.9);
		padding: 40px 50px 20px 20px;
		margin-top: 30px;
	}
	.jumbotron h1{
		font-size: 24px;
	}
	.jumbotron p{
		font-size: 14px;
	}
	a.btn.btn-primary.btn-large{
		transform: scale(0.9);
	}
	ul.footer-links, .col-sm-offset-1{
	padding-left: 20px;
	}
	footer h5{
		padding-left: 20px;
	}

}
